<div class='container'>
  <h1>ngxFlowchart</h1>
  <h2>angular module for flow diagrams</h2>
  <hr />

  <h4>how to use</h4>
  <p>
    <ul>
      <li>install the module using `npm install ngxflowchart`</li>
      <li>import `IFlowchart` interface from the module - the data passed to the `flowchart` component should be an `IFlowchart`</li>
      <li>use the `flowchart` tag in the template, pass `data` attribute</li>
    </ul>

  <h4>demo</h4>
  <p>click on add node button to add a node. update node names, port names and drag the nodes around, as required</p>
  
  <small>
    fixes in progress:
    <ul>
      <li>edge rendering and connections</li>
      <li>better styling</li>
    </ul>
  </small>

  <div class='content__panel'>
      <flowchart 
          [data]="flowchart" 
          (select)='selectNode($event)'>
      </flowchart>
  </div>
</div>
