.graph-container{
	position: absolute;
	display: inline-block;
	height: 800px;
	width: 500px;
	border: 1px solid black;
}

#graph-edges{
	background-color: #CECECE;
}

#graph-nodes{
	background-color: transparent;
	overflow: hidden;
}

.node-container{
	position: relative;
}

.node{
	position: absolute;
	height: 60px;
	border: 3px solid black;
	border-radius: 10px;
	min-width: 20px;
	background-color: white;
	z-index: 1;
	cursor: move !important;
	margin: 0px;
	//-webkit-user-drag: none;
}

.node:active{
	cursor: none;
}

.move{
	position: absolute;
	top: 40%;
	left: 45%;
	width: 15px; 
	height: 15px; 
	background: black;	
	cursor: move;
}

.port-container{
	height: 10px;
	text-align: center;
	z-index: 3;
}

.port-container.input{
	margin-top: -15px
}

.port-container.output{
	margin-top: 70px;
	transform: rotate(180deg)
}

.port{
	height: 7.5px;
	width: 15px;
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	background-color: black;
	margin: 0px 2px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	z-index: 3;
}

.port:hover{
	background-color: orange;
	cursor: pointer;
}